<div class="form-container">
    <div class="row no-gutters mb-4">
        <div class="col-md-12">
            <img class="img-fluid rounded" [src]="imgRepo.getImg('BF_LR').ImgSrc" [alt]="imgRepo.getImg('BF_LR').Title">
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h4>Thorina Apartments</h4>
            <hr />
            <p>The apartments <b>Blue Flower</b> and
                <b>Red Sea</b> contains: the living room which is connected to a big terrace(with beautiful sea view) and with kitchen
               in which you have coffee machine, microwave oven, dishwasher machine, toaster, fridge and freezer.
               The other appliances in the apartment are iron, ironing board, vacuum cleaner and hair dryer, air condition, the TV-satellite.
               There are bedroom with double bed(and linen), children room with 2 single beds, bathroom with shower and towers.
               In front of apartment is a parking place and the grill. When you decide to come,
                <span>you just need to bring only a smile.</span></p>
        </div>
    </div>
    
    <div class="row mb-2">
        <div class="col-md-6 mt-4">
            <h5>Red Sea</h5>
            <hr />
            <p>The apartment
                <b>Red Sea</b> contains: the living room which is connected to a big terrace(with beautiful sea view) and with kitchen
               in which you have coffee machine, microwave oven, dishwasher machine, toaster, fridge and freezer.
               The other appliances in the apartment are iron, ironing board, vacuum cleaner and hair dryer, air condition, the TV-satellite.
               There are bedroom with double bed(and linen), children room with 2 single beds, bathroom with shower and towers.
               In front of apartment is a parking place and the grill. When you decide to come,
                <span>you just need to bring only a smile.</span></p>
            <img class="rounded float-left img-thumbnail" [src]="imgRepo.getImg('RS_LR').ImgSrc" [alt]="imgRepo.getImg('RS_LR').Title">
        </div>
        <div class="col-md-6 mt-4">
            <h5>Blue Flower</h5>
            <hr />
            <p>The apartment
                <b>Blue Flower</b> contains: the living room which is connected to a big terrace(with beautiful sea view) and with kitchen
               in which you have coffee machine, microwave oven, dishwasher machine, toaster, fridge and freezer.
               The other appliances in the apartment are iron, ironing board, vacuum cleaner and hair dryer, air condition, the TV-satellite.
               There are bedroom with double bed(and linen), children room with 2 single beds, bathroom with shower and towers.
               In front of apartment is a parking place and the grill. When you decide to come,
                <span>you just need to bring only a smile.</span></p>
            <img class="rounded float-left img-thumbnail" [src]="imgRepo.getImg('BF_K').ImgSrc" [alt]="imgRepo.getImg('BF_K').Title">
        </div>
    </div>
</div>
        

